# Local secrets (never commit)
.env.local

# Odoo
data/filestore/
data/sessions/
logs/
*.log
*.pyc
__pycache__/
.env

# Odoo core (không push lên git, quá nặng)
odoo19/

# Python
*.egg-info/
.venv/
venv/
dist/
build/

# OS
.DS_Store
Thumbs.db
