{
  "token": "YOUR_ACCESS_TOKEN",
  "refresh_token": "YOUR_REFRESH_TOKEN",
  "token_uri": "https://oauth2.googleapis.com/token",
  "client_id": "YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com",
  "client_secret": "YOUR_GOOGLE_CLIENT_SECRET",
  "scopes": ["https://www.googleapis.com/auth/drive.file"],
  "universe_domain": "googleapis.com",
  "account": "",
  "expiry": "2099-01-01T00:00:00Z"
}
