/* Target tr.fw-bold / tr.fw-bolder do decoration-bf="display_type == 'line'" tạo ra */
.o_list_view tr.fw-bold td[name="content_snapshot"],
.o_list_renderer tr.fw-bold td[name="content_snapshot"],
tr.o_data_row.fw-bold td[name="content_snapshot"],
tr.fw-bold td[name="content_snapshot"],
.o_list_view tr.fw-bolder td[name="content_snapshot"],
.o_list_renderer tr.fw-bolder td[name="content_snapshot"],
tr.o_data_row.fw-bolder td[name="content_snapshot"],
tr.fw-bolder td[name="content_snapshot"] {
    padding-left: 24px !important;
}

/* Background color xám nhạt cao cấp cho dòng Section trong list view */
.o_list_renderer tr.text-info,
.o_list_view tr.text-info,
tr.o_data_row.text-info,
tr.text-info td,
.o_list_renderer tr.text-info > td,
.o_list_view tr.text-info > td {
    background-color: #e9ecef !important;
    color: #1e293b !important;
    font-weight: 600 !important;
}

.o_selection_badge[value='"need_remediation"'] {
    background-color: #fd7e14 !important;
    color: #ffffff !important;
}


.o_selection_badge[value='"done"'] {
    background-color: #28a745 !important;
    color: #ffffff !important;
}

.o_selection_badge[value='"remediated"'] {
    background-color: #0707ff !important;
    color: #ffffff !important;
}
.badge[raw-value="need_remediation"] {
    background-color: #fd7e14 !important;
    color: #ffffff !important;
}

.badge[raw-value="done"] {
    background-color: #28a745 !important;
    color: #ffffff !important;
}

.badge[raw-value="remediated"] {
    background-color: #0707ff !important;
    color: #ffffff !important;
}
